<footer>
    <div class="container d-flex justify-content-between align-items-center">
    <span class="made">Made by Ismoil Turdaliyev</span>
    <span class="social-links">
        <a href="https://t.me/andular_developing"><i class="fab fa-telegram"></i></a>
        <a href="https://www.youtube.com/channel/UCMTOdwlMpZ7Y_avSGvmf5Kg"><i class="fab fa-youtube"></i></a>
        <a href="http://www.linkedin.com/in/ismoil-turdaliyev"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/IsmoilTurdaliyev"><i class="fab fa-github"></i></a>
    </span>
</div>
</footer>